.navbar-brand {
    padding-left: 20px;
}

img {
    width: 250px;
    height: auto;
}

body {
    background: pink;
    color: rgb(186, 59, 123);
}

/* to put all movies on one line and use horizontal scroll bar */
.movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 5px;
}

/* when the cursor hovers on an image, the cursor turns into a pointer and the image enlarges using transition and transform. I also originally wanted the images to be right next to each other, but then I realized that that wasn't happening maybe because of the image-container width. But ultimately, I decided to keep it as is. */

.image-container {
    position: relative;
    transition: transform 0.3s;
    flex-wrap: nowrap;
    width: 600px;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: hotpink;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 10px;
    padding: 2px;
    text-align: center;
}

.movie-info {
    padding: 20px;
}

/* .form-control {
    width: 200px;
} */

